<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <!-- Favicon -->
    <link rel="icon" href="" sizes="32x32" />
    <link rel="icon" href="" sizes="192x192" />

    <!-- Main CSS with Bootstrap -->
    <link rel="stylesheet" href="../assets/custom/1.0.0/css/style.min.css" />

    <!-- CSS Vendor -->
    <link rel="stylesheet" href="../assets/vendor/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/vendor/highlight/9.12.0/styles/default.css" />

    <script src="assets/vendor/jquery/3.2.1/jquery-3.2.1.min.js"></script>
</head>

<body class="login-page dark">
    <div class="container-fluid no-gutters">
        <div class="row">
            <!-- Login Form -->

            <div class="login-wrapper">
                <!-- Logo -->
                <div class="logo logo-dark px-4 pt-5 pb-2">
                    <a href="/login">
                        <div class="text-center text-nowrap">
                            <i class="fa fa-spin fa-play-circle mr-0 rounded-circle" aria-hidden="true"></i>
                            <h6 class="logo-title text-uppercase mt-3">OpenAdmin</h6>
                            <p class="text-muted">
                                <small>ver. 1.0.0</small>
                            </p>
                        </div>
                    </a>
                </div>
                <!-- /Logo -->

                <div class="pt-4">
                    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                        <li class="nav-item text-center border-0 mb-0 w-50">
                            <a class="nav-link border-0 active" id="register-tab" data-toggle="tab" href="#sign-up" role="tab"
                                aria-controls="sign-up" aria-selected="false">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i> Register
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content mt-4" id="myTabContent">
                        <div class="tab-pane fade show active" id="sign-up" role="tabpanel" aria-labelledby="register-tab">
                            <form action="index.html">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <!--<label for="validationDefault01">First name</label>-->
                                        <input type="text" class="form-control" id="validationDefault01"
                                            placeholder="First name" required />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <!--<label for="validationDefault02">Last name</label>-->
                                        <input type="text" class="form-control" id="validationDefault02"
                                            placeholder="Last name" required />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input type="email" class="form-control" id="registerEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter email" />
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email
                                            with anyone else.</small>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <!--<label>Password</label>-->
                                        <input type="password" class="form-control" id="inputPassword"
                                            placeholder="Password" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <!--<label>Repeat Password</label>-->
                                        <input type="password" class="form-control" id="repeatPassword"
                                            placeholder="Repeat Password" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" />
                                            I agree the Terms and Conditions
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    Register
                                </button><div class="m-t-15 text-center">
                                    <p style="margin-top: 20px;color: red;font-weight: bold;font-size: 15px">Already have account ? <a href='/login'>Sign in now</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /Login Form -->
        </div>
    </div>

    <!-- JS Common -->
    <script src="../assets/vendor/popper/1.12.9/popper.min.js"></script>

    <!-- JS Custom -->
    <script src="../assets/custom/1.0.0/js/bootstrap.min.js"></script>
    <script src="../assets/custom/1.0.0/js/script.js"></script>
</body>

</html>